<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PlatziCommerce</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="app">
        <header>
            <h3>PlatziCommerce</h3>
            <button class="cart" >Carro (0)</button>
            <div class="cart-content" v-show="cartOpen">
                <div class="cart-content__product" v-for="(product, index) in cart" :key="product.name" :class="{ 'bg-gray' : index & 1 }"><!-- & 1 = impar -->
                    <img v-bind:src="product.images[0].image" :alt="product.name. toUpperCase()">
                    <span> {{ product.name }} - $ {{ new Intl.NumberFormat("es-MX").format(product.price)  }}</span>
                </div>
               
            </div>
        </header>
        <main>

            <section class="product">
                <div class="product__thumbnails">
                    <div 
                        v-for="(image, index) in product.images"
                        :key="image.thumbnail"
                        class="thumb" 
                        :class="{ active: activeImage == index }" 
                        :style="{ backgroundImage: 'url(' + product.images[index].thumbnail + ')' }" 
                    ></div>
                </div>
                <div class="product__image">
                    <img src="" alt="">
                </div>
            </section>

            <section class="description">
                <h4>{{ product.name.toUpperCase() }} {{ product.stock == 0 ? "\u{1F62D}" : "😎" }}</h4>
                <span class="badge new" v-if="product.new">Nuevo</span>
                <span class="badge offer" v-if="product.offer">Oferta</span>
                <p class="description__status" v-if="product.stock == 3">Quedan pocas unidades!</p>
                <p class="description__status" v-else-if="product.stock == 2">El producto esta por terminarse!</p>
                <p class="description__status" v-else="product.stock == 1">Última unidad disponible!</p>
                <p class="description__price">{{ new Intl.NumberFormat("es-MX").format(product.price)  }}</p>
                <p class="description__content"></p>
                <div class="discount">
                    <span>Código de Descuento:</span>
                    <input type="text" placeholder="Ingresa tu código">
                </div>
                <button :disabled="product.stock == 0">Agregar al carrito</button>
            </section>
            
        </main>
    </div> <!-- aqui se monta toda la aplicación de VUE -->
    
    <!-- Script de VUE -->
    <script src="https://unpkg.com/vue@next"></script>
    
    <!-- Logica de aplicación -->
    <script>
        const { createApp } = Vue;  //crear una aplicación de vue
        const app = createApp({
            data(){
                return{
                    product:{
                        name: "Camara",
                        price: 450_000,
                        stock: 0,
                        content: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa tenetur, laudantium placeat obcaecati autem deleniti magni. Sit reprehenderit   ipsum quidem reiciendis suscipit, fuga pariatur molestiae deserunt ea temporibus, doloribus cumque?',
                        images: [
                            { 
                                image: "./images/camara.jpg",
                                thumbnail: "./images/camara-thumb.jpg",
                            },
                            { 
                                image: "./images/camara-2.jpg",
                                thumbnail: "./images/camara-2-thumb.jpg",
                            }
                        ],
                        new: true,
                        offer: true,
                    },
                    cartOpen: true,
                    activeImage: 0,

                    cart: [
                        {
                            name: "Camara",
                            price: 450_000,
                            stock: 0,
                            content: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa tenetur, laudantium placeat obcaecati autem deleniti magni. Sit reprehenderit   ipsum quidem reiciendis suscipit, fuga pariatur molestiae deserunt ea temporibus, doloribus cumque?',
                            images: [
                                { 
                                    image: "./images/camara.jpg",
                                    thumbnail: "./images/camara-thumb.jpg",
                                },
                                { 
                                    image: "./images/camara-2.jpg",
                                    thumbnail: "./images/camara-2-thumb.jpg",
                                }
                            ],
                            new: true,
                            offer: true,
                        },
                        {
                            name: "Camara PL",
                            price: 250_000,
                            stock: 0,
                            content: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa tenetur, laudantium placeat obcaecati autem deleniti magni. Sit reprehenderit   ipsum quidem reiciendis suscipit, fuga pariatur molestiae deserunt ea temporibus, doloribus cumque?',
                            images: [
                                { 
                                    image: "./images/camara.jpg",
                                    thumbnail: "./images/camara-thumb.jpg",
                                },
                                { 
                                    image: "./images/camara-2.jpg",
                                    thumbnail: "./images/camara-2-thumb.jpg",
                                }
                            ],
                            new: true,
                            offer: true,
                        },
                        {
                            name: "Camara PL2",
                            price: 350_000,
                            stock: 0,
                            content: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa tenetur, laudantium placeat obcaecati autem deleniti magni. Sit reprehenderit   ipsum quidem reiciendis suscipit, fuga pariatur molestiae deserunt ea temporibus, doloribus cumque?',
                            images: [
                                { 
                                    image: "./images/camara.jpg",
                                    thumbnail: "./images/camara-thumb.jpg",
                                },
                                { 
                                    image: "./images/camara-2.jpg",
                                    thumbnail: "./images/camara-2-thumb.jpg",
                                }
                            ],
                            new: true,
                            offer: true,
                        }
                        

                    ],
                 
                }
            }
        });    //insertamos en una variable app
        app.mount("#app");          //montamos la constante en div 
    </script>
</body>
</html>