<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PlatziCommerce</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="app">
        <header>
            <h3>PlatziCommerce</h3>
            <button class="cart" v-on:click="cartOpen = !cartOpen">Carro ({{ cart.length}})</button>
            <div class="cart-content" v-show="cartOpen">
                <div class="cart-content__product" v-for="(product, index) in cart" :key="product.name" :class="{ 'bg-gray' : index & 1 }"><!-- & 1 = impar -->
                    <img v-bind:src="product.images[0].image" :alt="product.name. toUpperCase()">
                    <span> {{ product.name }} - $ {{ new Intl.NumberFormat("es-MX").format(product.price)  }} ({{ product.quantity }})</span>
                </div>
               
            </div>
        </header>
        <main>

            <section class="product">
                <div class="product__thumbnails">
                    <div 
                        v-for="(image, index) in product.images"
                        :key="image.thumbnail"
                        class="thumb" 
                        :class="{ active: activeImage == index }" 
                        :style="{ backgroundImage: 'url(' + product.images[index].thumbnail + ')' }" 
                        @click="activeImage = index"
                    ></div>
                </div>
                <div class="product__image">
                    <img :src="product.images[activeImage].image" :alt="product.name">
                </div>
            </section>

            <section class="description">
                <h4>{{ product.name.toUpperCase() }} {{ product.stock == 0 ? "\u{1F62D}" : "😎" }}</h4>
                <span class="badge new" v-if="product.new">Nuevo</span>
                <span class="badge offer" v-if="product.offer">Oferta</span>
                <p class="description__status" v-if="product.stock == 3">Quedan pocas unidades!</p>
                <p class="description__status" v-else-if="product.stock == 2">El producto esta por terminarse!</p>
                <p class="description__status" v-else-if="product.stock == 1">Última unidad disponible!</p>
                <p class="description__price">{{ new Intl.NumberFormat("es-MX").format(product.price)  }}</p>
                <p class="description__content"></p>
                <div class="discount">
                    <span>Código de Descuento:</span>
                    <input 
                        type="text" 
                        placeholder="Ingresa tu código" 
                        @keyup.enter="applyDiscount($event)"
                    >
                </div>
                <button :disabled="product.stock == 0" @click="addToCart()">Agregar al carrito</button>
            </section>
            
        </main>
    </div> <!-- aqui se monta toda la aplicación de VUE -->
    
    <!-- Script de VUE -->
    <script src="https://unpkg.com/vue@next"></script>
    
    <!-- Logica de aplicación -->
    <script>
        const { createApp, ref, reactive, toRefs } = Vue;  //crear una aplicación de vue
        const app = createApp({
            setup(){
                //Variable tipo reactive que contiene todo el estado de mi producto
                const productState = reactive({
                    product:{
                        name: "Camara",
                        price: 450_000,
                        stock: 5,
                        content: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa tenetur, laudantium placeat obcaecati autem deleniti magni. Sit reprehenderit   ipsum quidem reiciendis suscipit, fuga pariatur molestiae deserunt ea temporibus, doloribus cumque?',
                        images: [
                            { 
                                image: "./images/camara.jpg",
                                thumbnail: "./images/camara-thumb.jpg",
                            },
                            { 
                                image: "./images/camara-2.jpg",
                                thumbnail: "./images/camara-2-thumb.jpg",
                            }
                        ],
                        new: true,
                        offer: false,
                        quantity: 1,
                    },
                    activeImage: 0,
                });
                const cartState = reactive({
                    cartOpen: true,
                    cart: [],

                });
               
                const discountCodes = ref(["RAZO", "IOSAMUEL"]);

                //.VALUE para cuando se necesiten accesar a las variables dentro de una función
                function applyDiscount(event){
                    const discountCodeIndex = discountCodes.value.indexOf(event.target.value); //obtener el valor en una variable y buscar con la funcion indexOf
                    //validar si esta dentro del arreglo discountCodes
                    console.log("discountCodeIndex = "+discountCodeIndex);
                    if(discountCodeIndex >= 0){
                        productState.product.price *= 50/100;
                        discountCodes.splice(discountCodeIndex, 1); //eliminar si ya fue utilizado
                    }
                }

                function addToCart(){
                    const prodIndex = cartState.cart.findIndex(prod => prod.name == productState.product.name); //validar si ya existe
                    console.log("prodIndex = " + prodIndex );
                    if(prodIndex >= 0){
                        cartState.cart[prodIndex].quantity += 1;//En el carrito Aumentar la cantidad del producto encontrado
                    }else{
                        cartState.cart.push(productState.product); //añadir producto al carrito
                    }
                    productState.product.stock -= 1; //disminuir el stock    
                }

                
                //Las funciones setup siempre deben de retornar un objeto
                return {
                    ...toRefs(productState),

                    ...toRefs(cartState),
                  
                    addToCart,

                    applyDiscount,
                    
                }
            }

        });    //insertamos en una variable app
        app.mount("#app");          //montamos la constante en div 
    </script>
</body>
</html>